.contact-container
  width: 100%
  display: block
  text-align: center
  padding: 0

.contact-container
  list-style-type: none
  display: flex
  justify-content: center

ul li a
  display: inline-block
  width: 48pt
  margin: 0
  padding: 0

a .icon
  font-size: 20pt
  color: white
