@import 'Variables.sass'

.education

  &__degrees
    padding: 10pt 0 5pt 0

  &__degree
    padding: 0

  &__certificates
    padding: 10pt 0 5pt 0

  &__certificate
    padding: 3pt 0

  &__content
    padding: 0

  &__content-wrapper
    padding: 0

  &__flex-box
    display: flex
    align-items: center
    padding: 0 7vw
    line-height: 17pt
    p
      flex: 1
      margin: 5pt 0 0 0
      color: $greyish-brown
       font-size: 10.5pt
    a
      color: $coral

    p:last-child
      text-align: right

@media screen and (min-width: 767px)
  .education
    &__flex-box
      padding: 0
