.footer-container {
  width: 100%;
  line-height: 30px;
  background: #19a0d8;
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
}
address a {
  width: 60px;
}

a .icon {
  font-size: 20pt;
  margin: 10px;
  color: white;
}
