@import 'Variables.sass'

.footer
  position: fixed
  bottom: 0
  width: 100vw

  &__icons
    width: 100%
    display: block
    text-align: center
    background-color: $coral
    padding: 21pt 0
    list-style-type: none
    display: flex
    justify-content: center
    margin: 0

  &__link
    display: inline-block
    width: 48pt
    margin: 0
    padding: 0

  &__icon
    display: inline-block
    color: $white
    transition: transform .2s
    transform: scale(1)
    width: 25pt
    &:hover
      transform: scale(1.5)
