.header-container {
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  border-bottom: 2px solid;
}

.logo-wrapper {
  flex: 1;
  text-align: left;
  display: flex;
  align-items: center;
}
