.navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-color: #A52A2A;
  border: 1px solid;
}