@import 'Variables.sass'
/* Header styles */
.header-container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-transform: capitalize
  flex-shrink: 0
  @include main-background
  text-align: center
  color: #000
  //background-image: url('../images/avatar.jpg')

.image-container
  display: flex
  align-items: center

.avatar
  width: 100px
  height: 100px
  border-radius: 50%
  margin: 31pt 0 0 0

.name
  letter-spacing: 1px
  white-space: nowrap
  padding: 0
  margin: 0

.name p:first-child
  font-size: 20pt
  padding: 21pt 0

.name p:last-child
  font-size: 12pt

.name p
  padding: 0
  margin: 0

.slogan
  white-space: nowrap
  margin: 0
  letter-spacing: 2px

.white-text, .white-icon
  color: white
  margin: 0 10px 0 0

.white-text
  padding: 0
  margin: 0
  text-transform: initial

.roles
  text-align: initial
  margin-left: 21pt