/* General styles */
* {
  box-sizing: border-box;
}


/* Header styles */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 3px solid #7d97ad;
  padding-bottom: 20px;
  margin-bottom: 20px;
  flex-shrink: 0;
}

.header-right-content {
  text-align: right;
}

.logo {
  width: 100px;
  height: 100px;
}

.name {
  font-size: 40px;
  margin: 0;
  font-family: sans-serif;
  letter-spacing: 3px;
}

.slogan {
  font-size: 20px;
  margin: 0;
  letter-spacing: 2px;
}


@media screen and (max-width: 550px) {
  body {
    padding: 0px 10px 0px 10px;
  }

  .name {
    font-size: 18px;
  }

  .logo {
    width: 30px;
    height: 30px;
  }
}