.projects-container
  background-image: url('https://images.unsplash.com/photo-1464788061904-b026adb5422b?crop=entropy&fit=max&fm=jpg&q=99&w=1780')
  h1
    background-color: #19a0d8
.projects .black-text
  color: black

.projects-wrapper
  display: flex
  justify-content: center
  flex-wrap: wrap
  padding: 0 50px

