@import "Variables.sass"

.projects-container
  @include main-background
  h1
   position: relative
   top: 50pt
   padding-bottom: 5pt


.projects .black-text
  color: black

.projects-wrapper
  position: relative
  top: 65pt
  display: flex
  flex-wrap: wrap
  justify-content: center
  min-height: 100vh
  padding-bottom: 100pt


@media screen and (max-width: 500px)
  .projects-container
    h1
      font-size: 18pt
    h2
      font-size: 13.5pt

@media screen and (min-width: 767px)
  .projects-container
    h1
      text-align: center