.projects .black-text {
  color: black;
}

.projects-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project {
  background: #19a0d8;
  padding: 10px;
  text-align: center;
  margin: 10px;
  font-size: 10pt;
  width: 350px;
  color: white;
}

.project h2 {
  color: white;
  font-size: 20pt;
}

.project-overview {
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.project-image {
  width: 100%;
  height: 250px;
}

