@import 'Variables.sass'
.skill-name
  text-transform: uppercase
  color: $greyish-brown

@media screen and (min-width: 767px)
  .full-skills-wrapper
    padding: 10.5pt 21pt
    display: flex
    justify-content: space-between

  .skill
    display: flex
    justify-content: center
    align-items: center
    padding: 0 21pt

  .html, .css
    .skill-bar-container
      div:not(:last-child)
        background-color: $coral

  .javascript, .react
    .skill-bar-container
      div:nth-child(1), div:nth-child(2)
        background-color: $coral

  .skill-bar-container
    display: flex
    align-items: baseline

    .level-1
      height: 20pt

    .level-2
      height: 25pt

    .level-3
      height: 30pt

    .level-4
      height: 35pt

    .level-bar
      width: 5pt
      border: 1px solid $coral
      margin-left: 5pt

@media screen and(max-width: 500px)
  .skills-container
    display: flex
    flex-direction: column
    align-items: center
    h1
      font-size: 18pt

  .html, .css
    .skill-bar-container
      background-color: $coral
      width: 80%
      height: 10.5pt
      z-index: 99999

  .javascript, .react
    .skill-bar-container
      background-color: $coral
      width: 60%
      height: 10.5pt
      z-index: 99999
      border: none

  .skill-bar-container
    &:before
      content: ""
      background: $greyish-brown
      height: 11pt
      width: 85vw
      display: inline-block
      opacity: 0.1

  .full-skills-wrapper
    padding-left: 7.5vw
    padding-right: 7.5vw
    width: 100%









