
.skills-container {
  background-color: rgba(255, 255, 255, 0.5);
}

.full-skills-wrapper {
  padding: 0 50px;
}

.skill-wrapper {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.skill {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.skill-container {
  width: 100%;
  background-color: #ddd;
}

.skill-name {
  text-transform: uppercase;
}

.skills {
  height: 40px;
}

.level-bar {
  display: flex;
  background: lightblue;
}

.level-bar div {
  width: 25%;
  text-align: center;
}

.level-bar div:not(:last-child) {
  border-right: 1px solid gray;
}

#html {
  width: 60%;
  background-color: #c66c98;
}

#css {
  width: 55%;
  background-color: #c66c98;
}

#javascript {
  width: 51%;
  background-color: #c66c98;
}

#react {
  width: 45%;
  background-color: #c66c98;
}

#rails {
  width: 45%;
  background-color: #c66c98;
}

#angular {
  width: 55%;
  background-color: #c66c98;
}

#react-native {
  width: 40%;
  background-color: #c66c98;
}

#redux {
  width: 55%;
  background-color: #c66c98;
}

