@mixin main-background
  background-color: #fdf4ed
  color: #000

@mixin text-color
  color: #000

$white: #fff
$black: #000
$blue: #0336FF
$very-light-pink: #fdf4ed;
$coral: #f46d56;
$greyish-brown: #4a4a4a;
$white: #ffffff;
$silver: #dfe7e7;
$light-grey: #dcd8d6;
