@import 'styles/Variables.sass'

*
  box-sizing: border-box

.App
  min-height: 100vh
  width: 100%
  font-family: 'Roboto Slab'
  // background-image: url('./images/avatar.jpg')
  background-size: 100% auto
  background-repeat: no-repeat
  @include main-background
  .navigator
    padding-left: 31.5pt
    .button-nav
      display: none
  .navgation-links
    width: 100vw
    a
      font-family: 'Raleway'

.rcw-conversation-container > .rcw-header
  background-color: $coral

.rcw-launcher
  background-color: $coral

.nav-link
  display: inline-block
  padding-right: 21pt
  @include text-color

.links, .date-time
  padding-left: 31.5pt

main
  flex: 1
  display: flex
  flex-direction: column

a
  text-decoration: none
  padding: 21pt 0

h1, h2
  white-space: nowrap

h1
  font-size: 25pt
  width: 100%
  margin: 0
  color: $greyish-brown
  padding-top: 31.5pt
  border-bottom: 1px solid $silver

h2
  padding: 0
  margin: 0

h3
  color: $greyish-brown

.flex-box
  display: flex
  align-items: center

.flex-box p
  flex: 1
  margin: 6pt 0 0 0
  color: $greyish-brown

.flex-box a
  color: $coral

.flex-box p:last-child
  text-align: right

.see-project-link
  padding: 10.5pt 21pt
  background: $coral
  border-radius: 5px
  margin: 10.5pt
  color: white

.see-project-link:hover
  color: $silver

article
  padding: 0 31.5pt

.date-time
  color: $black
  float: right
  padding-right: 21pt
  padding-top: 21pt

.name p
  color: $greyish-brown

@media screen and (max-width: 500px)
  .skills
    height: 30px

  .level-bar
    font-size: 7pt

  .education-content-wrapper
    padding: 0

  .full-skills-wrapper
    padding: 10px

  .name p
    font-size: 12pt
    color: $greyish-brown

  .education-container h1
    font-size: 15pt

@media screen and (max-width: 767px)
  .skill-wrapper li
    font-size: 10pt

  .flex-box
    padding: 0 10.5pt

  .skill-wrapper
    width: 100vw
    display: flex
    justify-content: space-between
    padding: 0 10px

  .skill
    padding: initial

  h1, h2
    text-align: center

  h3
    padding: 0 10.5pt

  .project-details-container h1
    font-size: 14pt
