@import 'styles/Variables.sass'

*
  box-sizing: border-box

.App
  min-height: 100vh
  width: 100%
  background-size: 100% auto
  background-repeat: no-repeat
  // @include main-background
  .navgation-links
    padding-top: 0
    min-height: 95vh
    width: 100vw
    a
      // font-family: 'Raleway'
      letter-spacing: 0.2px

  .navigator
    padding-left: 31.5pt
    .button-nav
      display: none


.nav-link
  display: inline-block
  padding-right: 21pt
  @include text-color

.links, .date-time
  padding-left: 31.5pt

main
  flex: 1
  display: flex
  flex-direction: column

a
  text-decoration: none
  padding: 21pt 0

li
  color: $greyish-brown

h1, h2
  white-space: nowrap
  text-align: center

h1
  font-size: 18pt
  width: 100%
  margin: 0
  color: $greyish-brown
  border-bottom: 1px solid $silver
  padding-top: 31.5pt

h2
  padding: 0
  margin: 0
  font-size: 13.5pt

h3
  color: $greyish-brown
  padding: 0 7vw

p
  font-size: 10.5pt

.see-project-link
  padding: 10.5pt 21pt
  background: $coral
  border-radius: 5px
  margin: 10.5pt
  color: white

.see-project-link:hover
  color: $silver

article
  padding: 0 31.5pt

.name p
  color: $greyish-brown

.page-container
  min-height: calc(100vh - 300px)


@media screen and (min-width: 767px)
  h1
    font-size: 24pt

  h1, h2, h3
    text-align: left

  h3
    padding: 0

  p
    font-size: 12pt

  .navigator
    .button-nav
      left: 31.5pt

@media screen and (min-width: 1023px)
  p
    font-size: 13.5pt

@media screen and (min-width: 1439px)
  h1
    font-size: 36pt

  h3
    font-size: 24pt

  p
    font-size: 18pt


@media screen and (min-width: 2559px)
  .page-container
    max-width: 1500pt
    margin-left: auto
    margin-right: auto

  .navigator
    .button-nav
      left: 13%
      top: 5%


