*
  box-sizing: border-box

.App
  //display: flex
  //justify-content: flex-start
  min-height: 100vh
  width: 100%
  //padding-left: 50pt
  font-family: 'Roboto Slab'
  // background-color: #E3F2FD
  background-image: url('https://images.unsplash.com/photo-1464788061904-b026adb5422b?crop=entropy&fit=max&fm=jpg&q=99&w=1780')
  // background-repeat: no-repeat
  // background-size: 100%
  // object-fit: cover
  background-color: grey
  a
    display: inline-block
    padding: 31pt 31.5pt 31pt 0
    color: white

  .links, .date-time
    padding-left: 31.5pt
    padding-top: 21pt

main
  flex: 1
  display: flex
  flex-direction: column

a
  text-decoration: none
  padding: 21pt 0

h1, h2
  white-space: nowrap

h1
  font-size: 25pt
  width: 100%
  margin: 10px 0
  background-color: #19a0d8
  color: white
  padding: 10.5pt 31.5pt

h2
  padding: 0
  margin: 0

.flex-box
  display: flex
  align-items: center

.flex-box div
  flex: 1

.flex-box a
  color: #19a0d8

.flex-box div:last-child
  text-align: right

.see-project-link
  padding: 10.5pt 21pt
  background: #19a0d8
  border-radius: 5px
  margin: 10.5pt
  color: white

.see-project-link:hover
  color: grey

article
  padding: 0 31.5pt

.date-time
  color: white

@media screen and (max-width: 500px)
  .skills
    height: 30px
  .level-bar
    font-size: 7pt
  .education-content-wrapper
    padding: 0
  .full-skills-wrapper
    padding: 10px
  .name p
    font-size: 12pt
  .education-container h1
    font-size: 15pt

@media screen and (max-width: 767px)
  .skill-wrapper li
    font-size: 10pt
  .flex-box
    padding: 0 10.5pt
  .skill-wrapper
    width: 100vw
    display: flex
    justify-content: space-between
    padding: 0 10px
  .skill
    padding: initial
  h1, h2
    text-align: center
  h3
    padding: 0 10.5pt
  .project-details-container h1
    font-size: 14pt
